# CMake Files
CMakeFiles/
CMakeCache.txt
Makefile
BMS
cmake_install.cmake

# Raster files
Rasters/*.txt
MatlabRasters/*.mat

# Weight files
Weights/*.txt

#MaxEnt Params
MaxEntParams/*.mat

# iPython Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

